---
---

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tschipp</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='main.js'></script>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit-icons.min.js"></script>

    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>

</head>

<body>
    <div uk-sticky>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">

                    <li><a href="#" uk-scroll uk-totop></a></li>
                    <li><a href="#about" uk-scroll offset="80">About</a></li>
                    <li class="uk-hidden-touch">
                        <a uk-scroll offset="80" href="#mods">Mods</a>
                        {% include mods_dropdown.html %}
                    </li>
                    <li class="uk-hidden-notouch">
                        <a uk-scroll offset="80" onclick="return false;">Mods</a>
                        {% include mods_dropdown.html %}
                    </li>
                    <li><a href="https://razzleberri.es/" target="_blank">Marketplace</a></li>

                </ul>
            </div>
        </nav>
    </div>

    <div class="uk-container uk-container-small">

        <h1 id="about" class="uk-heading-large uk-text-center">About</h1>
        <div class="uk-card uk-card-small uk-card-default uk-card-hover uk-margin">
            <div class="uk-grid-match uk-visible@s" uk-grid>
                <div class="uk-card-media-left uk-cover-container uk-width-1-4">
                    <img data-src="https://crafatar.com/renders/body/fdd172eddcb549ed93ae7847f6e88bef?overlay=true&scale=10"
                        alt="Tschipp Skin" width="200" height="451" uk-img class="uk-padding-small"
                        style="object-fit: contain;">
                </div>
                <div class="uk-width-3-4">
                    <div class="uk-card-body uk-margin">

                        {% capture inc %}{% include about.md %}{% endcapture %}
                        {{ inc | markdownify }}

                        <a href="https://bisecthosting.com/Tschipp" target="_blank"><img
                                data-src="https://i.imgur.com/CjVfpPC.png" alt="BisectHosting" width="200" height="10"
                                uk-img class="uk-align-center"></a>
                    </div>
                </div>
            </div>
            <div class="uk-hidden@s">
                <div>
                    <img data-src="https://crafatar.com/renders/head/fdd172eddcb549ed93ae7847f6e88bef?overlay=true&scale=10"
                        alt="Tschipp Skin" width="200" height="200" uk-img class="uk-align-center uk-padding-large uk-padding-remove-bottom"
                        style="object-fit: contain;">
                </div>
                <div class="uk-padding">

                    {% capture inc %}{% include about.md %}{% endcapture %}
                    {{ inc | markdownify }}

                    <a href="https://bisecthosting.com/Tschipp" target="_blank"><img
                            data-src="https://i.imgur.com/CjVfpPC.png" alt="BisectHosting" width="200" height="10"
                            uk-img class="uk-align-center"></a>
                </div>
            </div>
        </div>

        <h1 id="mods" class="uk-heading-large uk-text-center">Mods</h1>

        {% include mod.html
        modid="carryon" modname="Carry On" slug="carry-on"
        github="https://github.com/Tschipp/CarryOn"
        desc="Carry On allows the player to pick up blocks and entites with just their hands!"
        supported="1.16.5"
        partial_support="1.15.2,1.12.2"
        unsupported="1.14.4,1.13.2,1.11.2,1.10.2"
        wip=""
        %}

        {% include mod.html
        modid="buildersbag" modname="Builder's Bag" slug="builders-bag"
        github="https://github.com/Tschipp/BuildersBag"
        desc="Builder's Bag greatly enhances survival building by offering tools such as autocrafting, block refill and
        other things!"
        supported="1.12.2"
        partial_support=""
        unsupported=""
        wip="1.16.5"
        %}

        

        Thank you to <a href="https://crafatar.com">Crafatar</a> for providing avatars.

    </div>

    </div>


</body>

</html>