<div class="uk-card uk-card-small uk-card-default uk-card-hover uk-margin">
    <div class="uk-card-media-top uk-inline" style="max-height: 443px; overflow: hidden;">
        <video id="{{ include.modid }}" src="assets/videos/{{ include.modid }}.mp4" width="900" height="443" loop muted
            playsinline uk-video="autoplay: inview"></video>
        <div class="uk-overlay uk-position-cover">
            <img data-src="assets/images/{{ include.modid }}.png" alt="{{ include.modname }}" width="100" height="100"
                uk-img class="uk-position-top-right uk-padding-small" style="height : 11vh; width : 11vh">
        </div>
    </div>

    <div class="uk-padding">
        <div class="uk-flex uk-flex-between">
            <div class="uk-heading-small uk-margin-small">{{ include.modname }}</div>
            <div class="uk-text-right">

                <a href="https://www.curseforge.com/minecraft/mc-mods/{{ include.slug }}/files" target="_blank"
                    title="Download" uk-tooltip uk-icon="icon: download; ratio: 2;"></a>
                {% if include.github != "" %}
                <a href="{{ include.github }}" title="GitHub" target="_blank" uk-tooltip
                    uk-icon="icon: github; ratio: 2;"></a>
                {% endif %}

            </div>

        </div>

        {% assign supp_arr = include.supported | split: ',' %}
        {% assign med_arr = include.partial_support | split: ',' %}
        {% assign unsup_arr = include.unsupported | split: ',' %}
        {% assign wip_arr = include.wip | split: ',' %}



        {% for s in supp_arr %}
        <span class="uk-label uk-label-success" title="Supported" uk-tooltip>{{s}}</span>
        {% endfor %}

        {% for s in med_arr %}
        <span class="uk-label uk-label-warning" title="Only critical bugfixes" uk-tooltip>{{s}}</span>
        {% endfor %}

        {% for s in unsup_arr %}
        <span class="uk-label uk-label-danger" title="No longer supported" uk-tooltip>{{s}}</span>
        {% endfor %}

        {% for s in wip_arr %}
        <span class="uk-label" title="Work in Progress" uk-tooltip>{{s}}</span>
        {% endfor %}

        <hr>
        <div>{{ include.desc }}</div>
        <hr>
        <ul uk-accordion id="{{include.modid}}-accordion">
            <li>
                <a class="uk-accordion-title" href="#">Read more</a>
                <div class="uk-accordion-content" >

                    {% capture inc %}{% include mods/{{ include.modid }}.md %}{% endcapture %}
                    {% capture mdified %}{{ inc | markdownify }}{% endcapture %}
                    {{ mdified | replace : 'img src', 'img class="uk-align-center" uk-img data-src'}}

                    <iframe src="https://www.cfwidget.com/minecraft/mc-mods/{{ include.slug }}" width="100%"
                        style="border: none; width: 100%;" class="uk-visible@s"></iframe>

                    <div class="uk-text-center" >
                        <a id="{{ include.modid }}-scroll-trigger" href="#{{include.modid}}" uk-scroll offset=80 uk-icon="icon: close; ratio: 3">
                        </a>
                    </div>

                    <script>
                        UIkit.util.on("#{{ include.modid }}-scroll-trigger", "scrolled", () => {
                            UIkit.accordion("#{{include.modid}}-accordion").toggle({animate:true})
                        });
                    </script>

                </div>
            </li>
        </ul>

    </div>

</div>