<div class="uk-navbar-dropdown">
    <ul class="uk-nav uk-navbar-dropdown-nav">
        <li><a href="#carryon" uk-scroll offset="80">Carry On</a></li>
        <li><a href="#buildersbag" uk-scroll offset="80">Builder's Bag</a></li>
        <li><a href="#forgottenitems" uk-scroll offset="80">Forgotten Items</a></li>
        <li><a href="#callablehorses" uk-scroll offset="80">Callable Horses</a></li>
        <li><a href="#primitivecrafting" uk-scroll offset="80">Primitive Crafting</a></li>
        <li><a href="#linear" uk-scroll offset="80">Linear</a></li>
        <li><a href="#extraambiance" uk-scroll offset="80">Extra Ambiance</a></li>
        <li><a href="#animania" uk-scroll offset="80">Animania</a></li>
        <li><a href="#statustags" uk-scroll offset="80">Status Tags</a></li>
        <li><a href="#creativeplus" uk-scroll offset="80">Creative Plus</a></li>
        <li><a href="#justbuildit" uk-scroll offset="80">Just Build It</a></li>
        <li><a href="#barkifier" uk-scroll offset="80">Barkifier</a></li>
        <li><a href="#fakename" uk-scroll offset="80">Fakename</a></li>
        <li><a href="#playtimelogger" uk-scroll offset="80">Playtime Logger</a></li>
    </ul>
</div>